/* * {
    border: 1px solid red;
} */

@font-face {
    font-family: logo-font;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    display: flex;
    background-color: #e5e7eb;
    margin: 0px;
}
/* body > div {
    flex-grow: 1;
} */

.content {
    display: flex;
}

.image-section {
    display: flex;
}

.img-frame {
    background-image: url(./images/the-lone-ocean-boat.jpg);
    background-size: 100% 100%;
    /* flex-basis: 650px; */
    height: 100vh;
    width: 50vh;
    background-repeat: no-repeat;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.49);
    position: relative;
    top: 120px;

    color: aliceblue;
    font-weight: 900;
    font-size: 80px;
    font-family: logo-font;
}

.logo {
    height: 150px;
    width: auto;
}

.login-info-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* 
    flex-basis: 1050px; */

    justify-content: center;
    align-items: flex-start;

    padding: 30px;

    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;

    gap: 20px;
    margin-bottom: 30px;
}

fieldset {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    position: relative;
    right: 32px;
    width: 680px;
    padding: 40px 30px 20px 30px;
    box-shadow: 0px 2px 4px grey;
}

legend {
    position: relative;
    top: 25px;
    font-weight: bold;
}

.input-group {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    min-height: 65px;
    gap: 20px;
}

.label-input-container {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
}

.create-acc {
    background-color: lightskyblue;
    border-radius: 4px;
    padding: 12px;
    font-weight: 700;
    color: currentColor;
    border: none;
    max-width: 180px;
    width: 200px;
    box-shadow: 1px 1px 5px black;
    transition: 0.5s;
}

.create-acc:hover {
    opacity: 0.85;
}

a {
    text-decoration: none;
    color: lightseagreen;
    font-weight: 700;
}

input {
    border-radius: 4px;
    padding: 0%;
    margin: 0%;
    width: 235px;
    height: 20px;
    transition: 00.5s;
}

abbr {
    color: red;
}

input:invalid + span::after {
    font: 900;
    font-size: 10px;
    color: red;
}

input:invalid.error {
    border: none;
    outline: 1px solid red;
}

input:valid.error {
    border: 1px solid lightgreen;
}

input:optional {
    border: 1px solid silver;
}

input[id="first-name"]:invalid.error + span::after {
    content: "First Name Required";
}

input[id="last-name"]:invalid.error + span::after {
    content: "Last Name Required";
}

input[id="email"]:invalid.error + span::after {
    content: "Email Required";
}

input[id="email"]:invalid.error.invalidEmailAddress + span::after {
    content: "Invalid email address";
}

input[type="password"]:invalid.error + span::after {
    content: "Password required";
}

input[type="password"]:invalid.error.matchingPasswordsFalse + span::after {
    content: "Password does not match";
}

input:focus {
    border: none;
    outline: 1px solid lightblue;
    box-shadow: 1px 2px 3px grey;
}

/*  input:focus {
  width: 280px;
  height: 25px;
} 
 */
